@media (max-width:1140px){
    .box {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .box__properties{
        justify-content: space-evenly;
    }
    .box__bayers{
        justify-content: space-evenly;
    }
    .footer img{
        width: 900px;
    }
    .box__img2{
        margin-left: 140px;
    }
    .box__content2{
        margin-right: 70px;
    }

}
@media (max-width:960px){
    .project__2{
        flex-wrap: wrap;
    }
    .footer img{
        width: 700px;
    }
}
@media (max-width:800px){
    .community__feedback{
        flex-wrap: wrap;
    }
    .community{
        background-repeat: no-repeat;
        background-size: auto 120%;
    }
    .community__all{
        margin-top: 10px;
    }
    .project__1{
        padding: 10px;
    }
    .container__p-end{
        padding-left: 10px;
    }
    .container__glasses{
        padding-left: 10px;
    }
}
@media (max-width:814px){
    .container__content2 {
        flex-wrap: wrap;
    }
    .footer img{
        width: 500px;
    }
}
@media (max-width:680px){
    .projects__card {
        margin-top: 10px;
    }
    .container__content3{
        flex-wrap: wrap;
        padding-right: 10px;
        padding-left: 10px;
    }
    .container__content3 img{
        padding-bottom: 10px;
    }
    .header{
        flex-wrap: wrap;
    }
}
@media (max-width:646px){
.header__login{
    margin-bottom: 10px;
}
.box__img2{
    margin-left: 70px;
}
.box__content2{
    margin-right:35px;
} 
.box__img1{
    margin-left: 70px;
}
.box__content1{
    margin-right:35px;
} 
}
@media (max-width:500px){
    .footer img{
        width: 300px;
    } 
}
@media (max-width:465px) {
    .main__link {
        margin-top: 50px; 
        margin-bottom: 20px;
    }
}
@media (max-width:440px){
    .community__feedback-p{
        padding: 10px 5px;
    }
    .community__feedback-content{
        max-width: 260px;
    }
    .box__img2{
        margin-left: 20px;
        margin-right: 15px;
    }
    .box__content2{
        margin-right:20px;
    } 
    .box__img1{
        margin-left: 20px;
        margin-right: 15px;
    }
    .box__content1{
        margin-right:20px;
    } 
    .header__menu-list-link{
        padding-right: 10px;
    }
    .projects__card{
        margin-right: 0;
    }
}
